__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.egg
*.egg-info/
dist/
build/

.ipynb_checkpoints/

data/
*.h5
*.pth
*.ckpt
*.csv

.streamlit/

.DS_Store
Thumbs.db


backend/models/*.pth
backend/models/*.pkl
backend/models/*.ckpt

.venv/